

/* HEADER */

header{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: white;
}
.sc-header-top{
    height: 25px;
    background-color: black;
}
.sc-header-top img{
    width: 60px;
    margin-bottom: 5px;
    margin-right: 10px;
}

/* JUMBOTRON */

.jumbotron{
    height: 600px;
    margin-top: 80px;
    background-image: url(../img/jumbo-bg.png);
    background-position: center;
    background-size: cover;
    color: white;
}
.jumbotron img{
    height: 40px;
}
.jumbotron .sc-container-jumbo{
    padding-top: 200px;
    width: 250px;
}
.sc-container-jumbo h2,
.sc-container-jumbo p,
.sc-container-jumbo .sc-btn{
    margin-top: 20px;
}

/* MAIN */

/* COPERTINE */
#copertine .card{
    margin: 15px 0;
    border-radius: 15px;
    overflow: hidden;
}

#copertine .card img{
    width: 100%;
}

/* PLAYSTATION 5 */

.sc-img-50 img{
    width: 100%;
}

#schede-prodotti .sc-card-opacity{
    margin: 15px 20px;
    overflow: hidden;
}

#schede-prodotti .sc-card-opacity img{
    width: 100%;
}
/* FOOTER */