

/* HEADER */

header{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: white;
}
.sc-header-top{
    height: 25px;
    background-color: black;
}
.sc-header-top img{
    width: 60px;
    margin-bottom: 5px;
    margin-right: 10px;
}

/* JUMBOTRON */

.jumbotron{
    height: 600px;
    margin-top: 80px;
    background-image: url(../img/jumbo-bg.png);
    background-position: center;
    background-size: cover;
    color: white;
}
.jumbotron img{
    height: 40px;
}
.jumbotron .container{
    padding-top: 200px;
}
.jumbotron .container h2,
.jumbotron .container p,
.jumbotron .container .sc-btn{
    margin-top: 20px;
}

/* MAIN */

/* COPERTINE */


/* PLAYSTATION 5 */

.sc-img-50 img{
    width: 100%;
}

#schede-prodotti .sc-card-opacity{
    margin: 15px;
    height: 90%;
    overflow: hidden;
    opacity: .5;
    transition: 1s;
}

#schede-prodotti .sc-card-opacity:hover{
    opacity: 1;
}

#schede-prodotti .sc-card-opacity.active-down{
    border-bottom: 2px solid #2c8ad6;
    opacity: 1;
}

#schede-prodotti .sc-card-opacity img{
    width: 100%;
    
}

/* BANNER */

#banner{
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-size: cover;
    background-position: center;
}

#descrizione{
    padding-top: 25px;
    padding-bottom: 25px;
}

#descrizione img{
    width: 200px;
}

#descrizione.container h2,
#descrizione.container p,
#descrizione.container .sc-btn{
    margin-top: 20px;
}

/* NUOVE USCITE */

#nuove-uscite{
    background-color: #1f1f1f;
    color: white;
    padding: 20px 0;
}

/* PLAYSTATION PLUS */

#playstation-plus{
    background-color: #bebcbb ;
}

#playstation-plus 

/* SCONTI */

#sconti .sc-card{
    border-radius: 0;
}

#playstation-now img.logo-plus{
    margin-top: 40px;
    width: 300px;
}

/* PLAYSTATION NOW */

#playstation-now{
    background-color: #161c3b;
}

/* SOCIAL-MEDIA */

#social-media .sc-card{
    border-radius: 0;
    margin: 20px 5px;
}

#social-media .sc-card img{
    width: 70px;
}


/* FOOTER */

footer{
    background-color: #00439c;
}

footer a{
    color: white;
}

footer ul{
    list-style: none;
    padding-left: 0;
}
.sc-logo-footer img{
    width: 100px;
}
