

/* HEADER */

header{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: white;
}
.sc-header-top{
    height: 25px;
    background-color: black;
}
.sc-header-top img{
    width: 60px;
    margin-bottom: 5px;
    margin-right: 10px;
}

.sc-header-bottom .navbar-light .navbar-nav .nav-link,
.sc-header-bottom .navbar-light i{
    color: black;
}

/* DROPDOWN */

.sc-header-bottom .dropdown, .dropend, .dropstart, .dropup{
    position: static;
}

.sc-header-bottom .dropdown-menu{
  top: 95%;
  left: 0;
  right: 0;
  margin-top: .125rem;
  transition: all 3s;
}

.sc-header-bottom .dropdown-menu{
    border: none;
}
.sc-header-bottom .dropdown-item{
    display: inline;
}

.sc-header-bottom .dropdown-menu li.sc-top-dropdown{
    display: inline-block;
}

.sc-top-dropdown a:hover{
    background-color: transparent;
}

.sc-card-nav:hover{
    box-shadow: 1px 1px 8px 2px grey;
}



/* JUMBOTRON */

.jumbotron{
    height: 600px;
    margin-top: 80px;
    background-image: url(../img/jumbo-bg.png);
    background-position: center;
    background-size: cover;
    color: white;
}
.jumbotron img{
    height: 40px;
}
.jumbotron .container{
    padding-top: 200px;
}
.jumbotron .container h2,
.jumbotron .container p,
.jumbotron .container .sc-btn{
    margin-top: 20px;
}

/* MAIN */

/* COPERTINE */

#copertine .sc-card{
    transition: all 1s;
    margin-top: 50px;
    opacity: .8;
}

#copertine .sc-card:hover{
    transform: translatey(-20px);
    opacity: 1;
}

#copertine .active-card{
    border: 2px solid #2c8ad6;
    opacity: 1;
}

#copertine .sc-card.active-card{
    transform: translatey(-20px);
}

#copertine .active-card img{
    border: 2px solid white;
    border-radius: 15px;
}

/* PLAYSTATION 5 */


#maggiori-informazioni p{
    padding: 20px 0;
}

.sc-img-50 img{
    width: 100%;
}

#schede-prodotti .sc-card-opacity{
    margin: 15px;
    padding: 15px 30px;
    height: 90%;
    overflow: hidden;
    opacity: .5;
    transition: 1s;
    cursor: pointer;
}

#schede-prodotti .sc-card-opacity p{
    margin: 0;
}

#schede-prodotti .sc-card-opacity:hover{
    opacity: 1;
}

#schede-prodotti .sc-card-opacity.active-down{
    border: 3px solid #2c8ad6;
    border-radius: 15px;
    opacity: 1;
}

#schede-prodotti .sc-card-opacity img{
    width: 100%;
    
}

/* BANNER */

#banner{
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-size: cover;
    background-position: center;
    padding: 60px 0;
}

#descrizione img{
    width: 200px;
}

#descrizione.container h2,
#descrizione.container p,
#descrizione.container .sc-btn{
    margin-top: 20px;
}


/* QUESTO MESE */

#questo-mese{
    background-image: url(https://image.api.playstation.com/vulcan/ap/rnd/202107/1612/Y5RHNmzAtc6sRYwZlYiKHAxN.png);
    background-position: center;
    background-size: cover;
}

#questo-mese h2{
    font-size: 3rem;
}

#questo-mese .sc-card{
    box-shadow: 5px 5px 10px black;
    opacity: .9;
    transition: all 1s;
}

#questo-mese .sc-card:hover{
    transform: scale(1.05) translatey(-15px);
    box-shadow: 10px 10px 10px black;
    opacity: 1;
}
#questo-mese h3{
    padding-top: 20px;
}

#questo-mese .overlay{
    background-color: rgba(0, 0, 0, 0.4);
}

#questo-mese .sc-btn:hover {
    background-color: #FADD9D;
    color: #144242;
}
/* NUOVE USCITE */

#nuove-uscite{
    background-color: #1f1f1f;
    color: white;
    padding: 20px 0;
}

#nuove-uscite .sc-card{
    transition: all .5s;
    box-shadow: 2px 2px 5px black;
}

#nuove-uscite .sc-card:hover{
    transform: scale(1.05);
    box-shadow: 2px 2px 3px lightslategray;
}

/* PLAYSTATION PLUS */

#playstation-plus{
    background-color: #bebcbb ;
}
 
#playstation-plus p,
#playstation-plus .sc-btn-container{
    margin-top: 30px;
}

#playstation-plus .sc-btn-container:hover{
    background-color: #d3d2d1;
}

/* NUOVI-SCONTI */

#nuovi-sconti .sc-text-50 p{
    padding: 20px 0;
}

#nuovi-sconti .sc-img-50{
    border-radius: 25px;
    overflow: hidden;
    transition: all 1s;
    cursor: pointer;
}

#nuovi-sconti .sc-img-50:hover{
    transform: scale(1.05);
}

/* SCONTI */

#sconti .sc-card{
    border-radius: 0;
}

#playstation-now img.logo-plus{
    margin-top: 40px;
    width: 300px;
}

/* PLAYSTATION NOW */

#playstation-now{
    background-color: #161c3b;
}

#playstation-now p,
#playstation-now .sc-btn-container{
    margin-top: 30px;
}

/* SOCIAL-MEDIA */

#social-media .sc-card{
    box-shadow:  2px 2px 10px 2px #bebcbb;
    border-radius: 25px;
    transition: all .5s;
}

#social-media .sc-card i{
    font-size: 6rem;
}

#social-media .sc-card:hover{
    transform: scale(1.05);
}

/* FOOTER */

footer{
    background-color: #00439c;
}

footer ul{
    list-style: none;
    padding-left: 0;
}

footer a{
    color: white;
    text-decoration: none;
}

footer a:hover{
    color: white;
    text-decoration: underline;
}

.sc-logo-footer img{
    width: 100px;
}

.credits a{
    text-decoration: underline;
}