

/* HEADER */

header{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: white;
}
.sc-header-top{
    height: 25px;
    background-color: black;
}
.sc-header-top img{
    width: 60px;
    margin-bottom: 5px;
    margin-right: 10px;
}

.sc-header-bottom .navbar-light .navbar-nav .nav-link,i{
    color: black;
}

/* DROPDOWN */

.sc-header-bottom .dropdown, .dropend, .dropstart, .dropup{
    position: static;
}

.sc-header-bottom .dropdown-menu[data-bs-popper] {
  top: 95%;
  left: 0;
  right: 0;
  margin-top: .125rem;
}

.sc-header-bottom .dropdown-menu{
    background-clip: none;
    border: none;
}
.sc-header-bottom .dropdown-item{
    display: inline;
}
.sc-header-bottom .dropdown-menu li.sc-top-dropdown{
    display: inline-block;
}

.sc-top-dropdown a:hover{
    background-color: transparent;
}

.sc-card-nav:hover{
    box-shadow: 1px 1px 8px 2px grey;
}



/* JUMBOTRON */

.jumbotron{
    height: 600px;
    margin-top: 80px;
    background-image: url(../img/jumbo-bg.png);
    background-position: center;
    background-size: cover;
    color: white;
}
.jumbotron img{
    height: 40px;
}
.jumbotron .container{
    padding-top: 200px;
}
.jumbotron .container h2,
.jumbotron .container p,
.jumbotron .container .sc-btn{
    margin-top: 20px;
}

/* MAIN */

/* COPERTINE */

#copertine .sc-card{
    transition: all 1s;
    margin-top: 50px;
}

#copertine .sc-card:hover{
    transform: translatey(-20px);
    opacity: .7;
}

#copertine .active-card{
    border: 2px solid #2c8ad6;
}

#copertine .sc-card.active-card{
    transform: translatey(-20px);
}

#copertine .active-card img{
    border: 2px solid white;
    border-radius: 15px;
}

/* PLAYSTATION 5 */


#maggiori-informazioni p{
    padding: 20px 0;
}

.sc-img-50 img{
    width: 100%;
}

#schede-prodotti .sc-card-opacity{
    margin: 15px;
    height: 90%;
    overflow: hidden;
    opacity: .5;
    transition: 1s;
}

#schede-prodotti .sc-card-opacity:hover{
    opacity: 1;
}

#schede-prodotti .sc-card-opacity.active-down{
    border-bottom: 2px solid #2c8ad6;
    opacity: 1;
}

#schede-prodotti .sc-card-opacity img{
    width: 100%;
    
}

/* BANNER */

#banner{
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-size: cover;
    background-position: center;
    padding: 60px 0;
}

#descrizione img{
    width: 200px;
}

#descrizione.container h2,
#descrizione.container p,
#descrizione.container .sc-btn{
    margin-top: 20px;
}

/* NUOVE USCITE */

#nuove-uscite{
    background-color: #1f1f1f;
    color: white;
    padding: 20px 0;
}

#nuove-uscite .sc-card{
    cursor: pointer;
}

/* PLAYSTATION PLUS */

#playstation-plus{
    background-color: #bebcbb ;
}
 
#playstation-plus p,
#playstation-plus .sc-btn-container{
    margin-top: 30px;
}

#playstation-plus .sc-btn-container:hover{
    background-color: #bebcbb;
}

/* SCONTI */

#sconti .sc-card{
    border-radius: 0;
}

#playstation-now img.logo-plus{
    margin-top: 40px;
    width: 300px;
}

/* PLAYSTATION NOW */

#playstation-now{
    background-color: #161c3b;
}

#playstation-now p,
#playstation-now .sc-btn-container{
    margin-top: 30px;
}

/* SOCIAL-MEDIA */

#social-media .sc-card{
    border-radius: 0;
}

/* FOOTER */

footer{
    background-color: #00439c;
}

footer ul{
    list-style: none;
    padding-left: 0;
}

footer a{
    color: white;
    text-decoration: none;
}

footer a:hover{
    color: white;
    text-decoration: underline;
}

.sc-logo-footer img{
    width: 100px;
}

.credits a{
    text-decoration: underline;
}