/* SC-BUTTON */
.sc-btn{
    display: inline-block;
    padding: 10px;
    border-radius: 15px;
    color: white;
    line-height: 15px;
    vertical-align: middle;
    border: none;
}

/* SC-BACKGROUND-COLOR */

.sc-bg-orange{
    background-color: #cd3d0f ;
}


/* DEBUG */

.debug{
    background-color: rgba(255, 0, 0, 0.4);
    border: 1px solid black;
}

.sc-min-height-200{
    min-height: 200px;
}

.sc-min-height-500{
    min-height: 500px;
}