

/* GENERAL */
.sc-p-small{
    font-size: .8rem;
}

/* SC-BUTTON */

.sc-btn-container{
    display: inline-block;
    padding: 9px 5px;
    border-radius: 25px;
}

.sc-btn{
    color: white;
    padding: 5px 10px;
    border-radius: 25px;
    border: 2px solid transparent;
}

.sc-btn.sc-btn-border-black:hover{
    border: 2px solid black;
}

.sc-btn-border-white:hover{
    border: 2px solid white;
}


/* CARD */
.sc-card{
    margin: 15px 0;
    border-radius: 15px;
    overflow: hidden;
    cursor: pointer;
}

.sc-card img{
    width: 100%;
}

/* SC-BACKGROUND-COLOR */

.sc-bg-orange{
    background-color: #cd3d0f ;
}

.sc-bg-blue{
    background-color: #2d64e6;
}

.sc-bg-darkgrey{
    background-color: #5b636a;
}

.sc-bg-grey{
    background-color: #bebcbb;
}

.sc-bg-lightgrey{
    background-color: #dadbdc ;
}

.sc-bg-dark-green{
    background-color: #144242;
}


/* COLOR TEXT */

.sc-color-blue{
    color: #2d64e6;
}

.sc-color-grey{
    color: #6c6c6c;
}

.sc-color-gold{
    color: #D9C49F;
}

.sc-color-light-gold{
    color: #FADD9D;
}

/* DEBUG */

.debug{
    background-color: rgba(255, 0, 0, 0.4);
    border: 1px solid black;
}

.sc-min-height-200{
    min-height: 200px;
}

.sc-min-height-500{
    min-height: 500px;
}